{% extends 'base.html' %}
{% load static %}

{% block content %}
        
        <div id="amenities">
            <div class="container">
                <div class="section-header">
                    <h2>Amenities & Services</h2>
                    <p>
                        At Royal Hotel, we provide a wide range of high-end amenities designed to make your stay as comfortable and productive as possible.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 icons">
                        <i class="icon icon-2"></i>
                        <h3>Air Conditioner</h3>
                        <p>Fully adjustable climate control to keep your room perfectly cool or cozy.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 icons">
                        <i class="icon icon-3"></i>
                        <h3>Bathtub</h3>
                        <p>Relax and unwind in our deep-soaking tubs with premium bath salts.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 icons">
                        <i class="icon icon-4"></i>
                        <h3>Shower</h3>
                        <p>Experience rejuvenation under our high-pressure rainfall showerheads.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 icons">
                        <i class="icon icon-6"></i>
                        <h3>Television</h3>
                        <p>Flat-screen Smart TVs with a premium selection of international channels.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 icons">
                        <i class="icon icon-7"></i>
                        <h3>High-Speed WiFi</h3>
                        <p>Complimentary high-speed internet accessible throughout the entire hotel.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 icons">
                        <i class="icon icon-8"></i>
                        <h3>Telephone</h3>
                        <p>Direct-dial phones with 24/7 access to our concierge and room service.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 icons">
                        <i class="icon icon-9"></i>
                        <h3>Mini Bar</h3>
                        <p>A curated selection of chilled beverages and gourmet snacks at your fingertips.</p>
                    </div>
                    <div class="col-md-3 col-sm-6 icons">
                        <i class="icon icon-10"></i>
                        <h3>Kitchen</h3>
                        <p>Modern kitchenette facilities available in our executive and family suites.</p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}